body, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: sans-serif;
}

        /* Header */

#header {
    display: flex;
    background-color: #eee;
    border: 1px solid #ccc;
    height: 80px; 
    /* justify-content: space-between;   */
}

.headr_logo {    
    padding: 10px;
    margin: auto 50px;     
}

        /* Navigation */

ul.nav {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.nav li {
    float: left;
    margin: 0px 10px;
}

ul.nav a {
    display: block;
    width: 5em;
    font-size: 20px;
    padding: 10px;
    margin: auto;       
    text-decoration: none;
    color: #333;
    text-align: center;
    transition: 0.5s;
}

ul.nav a:hover {
    background-color: #7da38d;
}